<div>
    <%- partial('_partial/section-icon.ejs', {
        mainText: "Blog de Eduo" || __('default_post_title'),
        secondaryText: "Aquí encontrarás los principales artículos publicados en nuestra web",
        iconFont4: "fa-folder-open"
    }) %>
</div>
<div class="container">
    <section class="section">
        <% page.posts.each(function(post){ %>
            <%- partial('_partial/article-archive', {post: post}) %>
        <% }); %>

        <%- partial('_partial/pagination') %>

    </section>
</div>