<!-- Title -->
<div class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div
                    class="column is-one-third is-offset-1 landing-caption has-text-left-tablet has-text-centered-mobile">
                    <h1 class="title is-1 is-bold is-spaced">
                        <%- theme.index_banner_text %>
                    </h1>
                    <h2 class="subtitle is-5 is-muted">
                        <%- theme.index_banner_text_secondary %>
                    </h2>
                    <div class="button-wrap">
                        <a id="goFeature" class="button cta is-rounded primary-btn raised" href="#features">
                            Conoce más
                        </a>
                    </div>
                </div>
                <div class="column auto" data-aos="zoom-out">
                    <figure class="image is-4by3">
                        <img src="/images/img-1.jpg" alt="Description">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="features" class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Asombrosas Características</h2>
            <h3 class="subtitle is-5 is-muted">Que te harán súper feliz.</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="columns is-vcentered side-feature mt-60" data-aos="fade-up">
            <div class="column is-4 is-offset-2">
                <h3 class="title is-3 mb-10 is-title-reveal">Un nuevo método de enseñansa</h3>
                <p class="subtitle is-5 is-muted">
                    🚀 Con nuestra plaforma podrás realizar tus sesiones de aprendizaje de forma dinámica y usando
                    las tecnologías actuales.
                </p>
            </div>
            <div class="column is-5">
                <img src="/images/feature1.png" alt="">
            </div>
        </div>

        <div class="columns is-vcentered side-feature mt-60" data-aos="fade-down">
            <div class="column is-4 is-offset-2">
                <img src="/images/feature2.png" alt="">
            </div>
            <div class="column is-5 is-offset-1">
                <h3 class="title is-3 mb-10 is-title-reveal">Haz que tus alumnos colaboren</h3>
                <p class="subtitle is-5 is-muted">
                    🙌 Sumérgete con ellos en la nueva experiencia de enseñanza, aprende con ellos y obten mejores
                    resultados.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Nuestros Servicios</h2>
            <h3 class="subtitle is-5 is-muted">Dejanos parte de tu trabajo a nosotros.</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="pricing-wrap">
            <div class="feature-card is-pricing has-text-centered" data-aos="fade-up">
                <h3 class="plan-name">Gestiona mejor tus cursos</h3>
                <br>
                <div>
                    <i class="fa fa-book" aria-hidden="true" style="font-size: 4rem;"></i>
                </div>
                <br>
                <div class="divider is-centered"></div>
                <p>Podrás crear y administrar tus cursos de una forma rápida y sencilla.</p>
                <a class="button is-fullwidth is-bold">Cuéntame más</a>
            </div>
            <div class="feature-card is-pricing has-text-centered" data-aos="fade-down">
                <h3 class="plan-name">Capacítate con nosotros</h3>
                <br>
                <div>
                    <i class="fa fa-graduation-cap" aria-hidden="true" style="font-size: 4rem;"></i>
                </div>
                <br>
                <div class="divider is-centered"></div>
                <p>Adquiere conocimientos de las nuevas tecnologías en la educación.</p>
                <a class="button is-fullwidth primary-btn raised is-bold">Cuéntame más</a>
            </div>
            <div class="feature-card is-pricing has-text-centered" data-aos="fade-up">
                <h3 class="plan-name">Gestiona mejor tu tiempo</h3>
                <br>
                <div>
                    <i class="fa fa-calendar" aria-hidden="true" style="font-size: 4rem;"></i>
                </div>
                <br>
                <div class="divider is-centered"></div>
                <p>Con nuestra plataforma podrás automatizar diversas actividades académicas.</p>
                <a class="button is-fullwidth is-bold">Cuéntame más</a>
            </div>
        </div>
    </div>
</section>

<script>
    const link = document.getElementById("goFeature");
    link.addEventListener("click", clickHandler);

    function clickHandler(e) {
        e.preventDefault();
        const href = this.getAttribute("href");

        document.querySelector(href).scrollIntoView({
            behavior: "smooth"
        });
    }
</script>