<!-- Check if it is a root tag or category page -->
<%
    var items = [];
    var title = '';
    var isTagIndex = page.type === 'tags' || page.type === 'tag';
    var isCategoryIndex = page.type === 'categories' || page.type === 'category';
    if (isTagIndex) {
        items = site.tags;
        title = __('tags');
    } else if (isCategoryIndex) {
        items = site.categories;
        title = __('categories');
    }
    var isTagOrCat = isTagIndex || isCategoryIndex;
%>
<!-- Content -->
<section class="hero is-fullheight-with-navbar">
    <% if (isTagOrCat) { %>
        <% items.forEach(function(item){ %>
            <%- partial('_partial/tag-category-index', {item: item, isTagIndex: isTagIndex}) %>
        <% }) %>
    <% } else { %>            
        <div class="hero-body">
            <div class="container has-text-centered">
                <%- page.content %>
            </div>
        </div>
    <% } %>
</section>
