<%- partial('_partial/section-icon.ejs', {
    mainText: page.title || theme.default_post_title || __('default_post_title'),
    secondaryText: page.date ? page.date.format(config.date_format) : '',
    iconFont4: page.icon || "fa-folder-open"
}) %>

<!-- Content -->
<div class="section">
    <div class="container">
        <div class="columns is-desktop">
            <div class="column is-7 is-offset-1">
                <!-- Main Post Content -->
                <%- page.content %>

                <!-- Comments -->
                <%- partial('_partial/comments.ejs') %>
            </div>
            <div class="column is-3">
                
                <hr class="dn-l mw4 black-50 mt5" />
                
                <!-- Widget 1: About -->
                <%- partial('_partial/widget-about') %>

                <hr class="dn-l mw4 black-50 mt5" />
                
                <!-- Tags Vertical -->
                <% if (page.tags && page.tags.length) { %>
                    <h3><%- __('tags') %></h3>
                    <div class="tags">
                        <% page.tags.forEach(function(tag) { %>
                                <span class="tag">
                                    <a href="<%- config.root + tag.path %>">
                                        <i class="fa fa-tag" aria-hidden="true"></i> <%= tag.name %>
                                    </a>
                                </span>
                        <% }) %>
                    </div>
                <% } %>

                <!-- Widget 2: Categories -->
                <% if (page.categories && page.categories.length) { %>
                    <%- partial('_partial/widget-categories', {item: page}) %>

                    <hr class="dn-l mw4 black-50 mt5" />
                <% } %>

                <!-- Widget 3: Recent Posts -->
                <%- partial('_partial/widget-recent-posts') %>

            </div>
        </div>
    </div>
</div>
