<div class="card">
    <header class="card-header">
        <a href="<%- url_for(item.path) %>" class="card-header-title">
            <%- item.title || theme.default_post_title || __('default_post_title') %>
        </a>
    </header>
    <div class="card-content">
        <div class="content">
            <% if(item.date) { %>
            <time datetime="2016-1-1"><%= item.date.format(config.date_format) %></time>
            <% } %>

        </div>
    </div>
    <footer class="card-footer">
        <i class="fa <%- item.icon || theme.default_post_icon %>"></i>
        <a href="#" class="card-footer-item">Delete</a>
    </footer>
</div>