<div class="box mb-5">
    <div class="columns">
        <div class="column is-one-third">
            <figure class="image is-5by3">
                <% if (post.photos[0]) { %>
                    <a href="<%- url_for(post.path) %>">
                        <img src="<%= post.photos[0] %>" alt="<%= post.title %>">
                    </a>
                    <% } %>
            </figure>
        </div>
        <div class="column p-5">
            <div class="media">
                <div class="media-content">
                    <div class="content">
                        <a class="button is-white" href="<%- url_for(post.path) %>">
                            <p>
                                <strong class="title is-4">📌 <%= post.title %></strong>
                                <small class="subtitle is-6">
                                    <%= post.author %>
                                </small>
                            </p>
                        </a>
                        <p class="mt-2">
                            <%- partial('excerpt', { post: post }) %>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <% if(post.date) { %>
                                <time class="level-item" datetime="<%= post.date.format(theme.archive_date_format) %>">
                                    📅 <%= post.date.format(theme.archive_date_format) %>
                                </time>
                            <% } %>
                            <a class="level-item" aria-label="reply">
                                <span class="icon">
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="level-item" aria-label="retweet">
                                <span class="icon">
                                    <i class="fa fa-retweet" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>