<nav class="navbar is-fresh no-shadow is-info bg-1" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="<%- config.root %>">
                <img src="<%- theme.logo_image_source %>" alt="<%- config.title %>" width="60" height="50" </a>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbar-menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
        </div>

        <div id="navbar-menu" class="navbar-menu is-static">
            <div class="navbar-end">
                <% for (var i in theme.menu) { %>
                <a class="navbar-item is-secondary" href="<%- url_for(theme.menu[i]) %>" title="<%= i %>">
                    <%= i %>
                </a>
                <% } %>

                <div class="field navbar-item">
                    <p class="control">
                        <a class="button is-link" data-social-network="Facebook"
                            href="https://www.facebook.com/sharer/sharer.php?&u=https://eduoplatform.netlify.app/">
                            <span class="icon">
                                <i class="fab fa fa-facebook"></i>
                            </span>
                            <span>
                                Facebook
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>