<footer class="footer footer-dark">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <img src="/images/eduoExtendedLogo.png">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Eduo</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Acerda de...</a></li>
                        <li><a href="#">Guía de usuario</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Blog</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Categorías</a></li>
                        <li><a href="#">Últimas publicaciones</a></li>
                        <li><a href="#">Ver blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Nuestras redes</h3>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <% theme.social_platforms.forEach(function(platform) { %>
                                <a class="level-item" href="<%- platform.url %>" target="_blank">
                                    <span class="icon">
                                        <i class="fa <%- platform.fa_icon %>"></i>
                                    </span>
                                </a>
                                <% }) %>
                            </div>
                        </nav>

                        <a href="https://bulma.io" target="_blank">
                            <img src="/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                          </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>