<% if(page.prev || page.next) { %>
    <div class="field is-grouped is-justify-content-center">
        <a <% if(page.prev) { %> href="<%- config.root %><%- page.prev_link %>"  <% } %>
            class="button is-info is-outlined is-rounded" <%- page.prev ? '' : 'disabled' %>>
            <span class="icon">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </span>
            <span><%- __('prev') %></span>
        </a>
        <a <% if(page.next) { %> href="<%- config.root %><%- page.next_link %>" <% } %>
            class="button is-info is-outlined is-rounded"  <%- page.next ? '' : 'disabled' %>>
            <span><%- __('next') %></span>
            <span class="icon">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </span>
        </a>
    </div>
<% } %>