<section class="hero bg-1">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-1 is-flex-desktop is-hidden-touch"
                    style="align-items: center; justify-content: center;">
                    <span class="icon has-text-light">
                        <i class="fa <%- iconFont4 %>  fa-5x" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="column auto">
                    <h1 class="title has-text-light is-1">
                        <%- mainText %>
                    </h1>
                    <h2 class="subtitle has-text-light">
                        <%- secondaryText %>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>