<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-one-thirds has-text-left">
                    <h1 class="title is-1">Contáctanos</h1>
                    <p class="is-size-4">
                        Queremos escucharte y apoyarte. Te invitamos a mandarnos un mensaje a través
                        del formulario. También puedes seguirnos a traves de nuestras redes.
                    </p>
                    <div class="social-media mt-2">
                        <a href="https://facebook.com" target="_blank" class="button is-light is-large"><i
                                class="fa fa-facebook-square" aria-hidden="true"></i></a>
                        <a href="https://instagram.com" target="_blank" class="button is-light is-large"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://twitter.com" target="_blank" class="button is-light is-large"><i
                                class="fa fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <form name="contact" data-netlify="true" accept-charset="utf-8" method="POST"
                    class="column is-two-third has-text-left">
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <input class="input is-medium" required="" type="text" name="name" id="full-name"
                                placeholder="Nombre Completo *">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Celular</label>
                        <div class="control">
                            <input type="telephone" name="telephone" id="telephone" class="input is-medium"
                                placeholder="Celular">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Correo</label>
                        <div class="control">
                            <input class="input is-medium" required="" type="email" name="_replyto" id="email-address"
                                placeholder="Email *">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Colegio</label>
                        <div class="control">
                            <input name="city" class="input is-medium" type="text" placeholder="Colegio">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Mensaje</label>
                        <div class="control">
                            <textarea name="complaint" id="complaint" class="textarea" required="" rows="6"
                                placeholder="Tu mensaje *"></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="_subject" id="email-subject" value="Mensaje Eduo contacto">
                    <input type="text" name="_gotcha" style="display:none" />

                    <div class="control">
                        <div class="form-footer has-text-right mt-10">
                            <button type="submit"
                                class="button cta is-large primary-btn form-button raised is-clear is-fullwidth">
                                Enviar Mensaje
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>