<div>
    <h3><%- __('categories') %></h3>
    <div class="field is-grouped">
        <% item.categories.forEach(function(category) { %>
            <a class="button" href="<%- config.root + category.path %>"><%= category.name %></a>
        <% }) %>
    </div>
</div>
