<div class="card">
    <div class="card-image">
        <figure class="image is-128x128" style="min-width: 6rem; margin: 10px auto 0;">
            <img src="<%- theme.about_widget_avatar_url %>" title="<%- config.author %>">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <%- theme.about_widget_text %>
        </div>
    </div>
</div>