<h1 class="title">¿Qué es Eduo?</h1>
<p>
    <strong>Eduo</strong> es una plataforma para brindar el apoyo a los docentes en el uso
    de herramientas tecnológicas.
    Síguemos en nuestras redes para mayor información y estar en mejor contecto.
</p>