body
  -webkit-backface-visibility: hidden;
  font-family $main-font

.bg-1
  background $gradient-color-1
  background -moz-linear-gradient(left, $gradient-color-1 0%, $gradient-color-2 100%)
  background -webkit-linear-gradient(left, $gradient-color-1 0%, $gradient-color-2 100%)
  background linear-gradient(to right, $gradient-color-1 0%, $gradient-color-2 100%)

.text-main-color
  color $main-color

.border-color
  border-color white

.hover-border-main-color
  transition all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    border-color $main-color

.hover-text-main-color
  transition all 0.3s cubic-bezier(.25,.8,.25,1)
  &:hover
    color $main-color

.footer-dark 
  background $gradient-color-1
  color $white-color
  .columns 
    margin-top 35px
  .footer-logo 
    img 
      height 80px
  .footer-column 
    .footer-header 
      h3 
        font-weight 500
        font-size 1.2rem
        text-transform uppercase
        letter-spacing 1px
        margin-bottom 20px
    .link-list 
      line-height 40px
      font-size 1.1rem
      a
        color #98a9c3
        font-weight 400
        transition all 0.5s
        &:hover 
          color $smoke-white
    .level-item 
      .icon 
        color $secondary-color-2
        transition all 0.5s
        &:hover 
          color $smoke-white
