// Base
.bg-primary
  background-color: $main-color

.button {
    cursor: pointer;
    transition: all 0.5s;
    
    &:focus, &:active {
        outline: none;
    }

    &.cta {
        font-size: 1rem;
        font-weight: 500;
        height: 44px;
    }

    &.is-clear {
        line-height: 0 !important;
    }

    &.is-bold {
        font-weight: 500;
    }

    &.rounded {
        border-radius: 500px;
    }

    &.raised:hover {
        box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2) !important;
        opacity: 0.8;
    }

    &.btn-outlined {
        background: transparent;
    }

    &.signup-button {
        font-weight: 500;
        height: 44px;
        width: 120px;
    }
}
.button {
    &.primary-btn {
        outline: none;
        border-color: $primary;
        background-color: $primary;
        color: $white;
        transition: all 0.5s;

        &:hover {
            color: $white;
        }

        &.raised:hover {
            box-shadow: 0 14px 26px -12px rgba($primary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($primary, 0.2) !important;
            opacity: 0.8;
        }

        &.btn-outlined {
            border-color: $primary;
            color: $primary;
            background-color: transparent;

            &:hover {
                color: $white;
                background-color: $primary;
            }
        }
    }

    &.secondary-btn {
        outline: none;
        border-color: $secondary;
        background-color: $secondary;
        color: $white;
        transition: all 0.5s;

        &:hover {
            color: $white;
        }

        &.raised:hover {
            box-shadow: 0 14px 26px -12px rgba($secondary, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($secondary, 0.2) !important;
            opacity: 0.8;
        }

        &.btn-outlined {
            border-color: $secondary;
            color: $secondary;
            background-color: transparent;

            &:hover {
                color: $white;
                background-color: $secondary;
            }
        }
    }

    &.button.accent-btn {
        outline: none;
        border-color: $accent;
        background-color: $accent;
        color: $white;
        transition: all 0.5s;

        &:hover {
            color: $white;
        }

        &.raised:hover {
            box-shadow: 0 14px 26px -12px rgba($accent, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($accent, 0.2) !important;
            opacity: 0.8;
        }

        &.btn-outlined {
            border-color: $accent;
            color: $accent;
            background-color: transparent;

            &:hover {
                color: $white;
                background-color: $accent;
            }
        }
    }
}
.feature-card {
    width: 300px;
    height: 320px;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card-title h4 {
        font-family: 'Open Sans', sans-serif;
        padding-top: 25px;
        font-size: 1.2rem;
        font-weight: 600;
        color: $blue-grey;
    }

    .card-icon {
        img {
            display: block;
            height: 80px;
            width: 80px;
            margin: 30px auto;
        }
    }

    .card-text {
        padding: 0 40px;

        p {
            color: $muted-grey;
        }
    }

    .card-action {
        margin-top: 10px;
    }

    &.is-bordered {
        border: 1px solid $fade-grey;
    }
}

// Flex Card
.flex-card {
    position: relative;
    background-color: #fff;
    border: 0;
    border-radius: 0.1875rem;
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;

    &.raised {
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    }

    .tabs {
        padding: 15px 0.7rem;
    }

    .navtab-content {
        min-height: 190px;

        p {
            padding: 0 0.8rem 20px;
        }
    }

    .navigation-tabs {
        &.outlined-pills .tabs.tabs-header {
            &.primary {
                background-color: $primary;
            }

            &.secondary {
                background-color: $secondary;
            }

            &.accent {
                background-color: $accent;
            }

            ul li a {
                color: $grey-white;
            }

            ul li.is-active a {
                color: $white;
                border: 1px solid $white;
                border-bottom-color: $white !important;
            }
        }
    }
}

//Modal card
.modal {
    .auth-card {
        max-width: 420px;
        margin: 0 auto;
        border-radius: 6px;

        .tabs {
            margin-bottom: 0;

            li {
                a {
                    color: $placeholder;
                }

                &.is-active {
                    a {
                        color: $secondary;
                        border-bottom-color: $secondary;
                    }
                }
            }
        }

        .tab-content {
            padding: 20px;

            .field {
                max-width: 390px;
                margin: 10px auto;

                label {
                    display: block;
                    font-weight: 500;
                    font-size: .9rem;
                }

                .input {
                    font-size: .95rem;
                    height: 44px;
                }
            }

            .button.is-fullwidth {
                padding: 20px 0;
                max-width: 390px;
                margin: 20px auto;
            }
        }
    }
}
.section {
    position: relative;
    overflow-x: hidden !important;

    &:focus {
        outline: none !important;
    }

    &.section-light-grey {
        background-color: $light-grey;
    }

    &.section-feature-grey {
        background-color: $section-grey;
    }

    &.section-secondary {
        background-color: $secondary;
    }

    &.section-half {
        height: 75vh !important;
    }

    &.has-background-image {
        background-size: cover;
        background-repeat: no-repeat;
    }

    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }

    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
    }
}

//Titles
.title-wrapper {
    max-width: 500px;
    margin: 0 auto;

    .title, .subtitle {
        font-family: 'Open Sans', sans-serif;
    }

    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

//Divider
.divider {
    height: 3px;
    border-radius: 50px;
    background: $secondary;
    width: 60px;

    &.is-centered {
        margin: 0 auto;
    }
}

//Wrapper
.content-wrapper {
    padding: 60px 0;
}

//Side feqtures
.side-feature {
    h3 {
        padding-bottom: 16px;
    }
}

//Icon box
.feature-icon {
    padding: 16px 0;
    cursor: pointer;

    &:hover {
        .icon-wrap {
            transform: translateY(-5px);
            box-shadow: $light-shadow;

            ion-icon {
                color: $secondary;
            }
        }
    }

    .icon-wrap {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        border: 1px solid darken($fade-grey, 4%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px auto;
        transition: all .3s;

        ion-icon {
            font-size: 110px;
            color: lighten($blue-grey, 18%);
            transition: all .3s;
        }
    }

    h4 {
        font-family: $font;
        font-weight: 600;
        color: $blue-grey;
    }

    p {
        color: $muted-grey;
    }
}

//Pricing
.pricing-wrap {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.feature-card {
    &.is-pricing {
        border: 1px solid darken($fade-grey, 4%);
        border-radius: 6px;
        box-shadow: $light-shadow;
        margin: 8px;
        padding: 20px;
        height: 400px;

        .plan-name {
            font-family: $font;
            font-weight: 600;
            font-size: 1.4rem;
            color: $blue-grey;
        }

        img {
            display: block;
            max-width: 160px;
            margin: 0 auto 0 auto;
        }

        .price {
            position: relative;
            font-family: $font;
            font-weight: 700;
            font-size: 2.4rem;
            color: $blue-grey;

            &:before {
                content: '$';
                position: relative;
                top: -12px;
                left: 5px;
                font-size: 1.2rem;
            }

            &:after {
                content: 'per month';
                position: absolute;
                bottom: -16px;
                left: 0;
                right: 0;
                margin: 0 auto;
                font-size: .9rem;
                font-weight: 400;
                color: $muted-grey;
            }
        }

        p {
            padding: 24px 0 16px 0;
            color: $muted-grey;
        }
    }
}

#error-text {
  top: 30%;
  position: relative;
  font-size: 40px;
}

#error-text a {
  color: #eee;
}

#error-text a:hover {
  color: #fff;
}

#error-text p {
  margin: 0 0 20px 0;
}


#error-text span {
  position: relative;
  background: #ef4824;
  color: #fff;
  font-size: 300%;
  padding: 0 20px;
  border-radius: 5px;
  font-weight: bolder;
  transition: all .5s;
  cursor: pointer;
  margin: 0 0 40px 0;
}

#error-text span:hover {
  background: #d7401f;
  color: #fff;
  -webkit-animation: jelly .5s;
  -moz-animation: jelly .5s;
  -ms-animation: jelly .5s;
  -o-animation: jelly .5s;
  animation: jelly .5s;
}

#error-text span:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #ef4824;
  border-width: 7px;
  margin-left: -7px;
}

@-webkit-keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}

@keyframes jelly {
  from, to {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  25% {
    -webkit-transform: scale(.9, 1.1);
    transform: scale(.9, 1.1);
  }
  50% {
    -webkit-transform: scale(1.1, .9);
    transform: scale(1.1, .9);
  }
  75% {
    -webkit-transform: scale(.95, 1.05);
    transform: scale(.95, 1.05);
  }
}
/* CSS Error Page Responsive */

@media only screen and (max-width:640px) {
  #error-text span {
    font-size: 200%;
  }
  #error-text a:hover {
    color: #fff;
  }
}