<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div id='error-text'>
                <span>404</span>
                <p>PÁGINA NO ENCONTRADA</p>
                <div class="button-wrap">
                    <a id="goFeature" class="button is-black is-large is-rounded raised" href="/">
                        Regresar
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>